@{
    ViewBag.Title = "Buscar";
}

<h2>Buscar Médico</h2>

<div>

    <form action="~/pub/medico/buscar" method="post">
        <fieldset>
            <legend>Buscar Médico pelo CRM</legend>
            <label>Informe o CRM</label>
            <input type="text" id="crm" name="crm" />
            <br />
            <input type="submit" />
        </fieldset>
    </form>

</div>
